In [1]:
import sqlite3

# make a connection
conn = sqlite3.connect('/Users/faraazqureshi/repos/DS-Unit-3-Sprint-2-SQL-and-Databases/module1-introduction-to-sql/rpg_db.sqlite3')

In [2]:
# make a cursor
curs = conn.cursor()

## Total Characters

In [3]:
# determine how many total characters
curs.execute('SELECT count(*) FROM charactercreator_character')
print(curs.fetchall())

[(302,)]

## Total characters of each subclass

In [6]:
# how many characters of each subclass
curs.execute('SELECT count(*) FROM charactercreator_cleric')
print("Cleric count: " + str(curs.fetchall()))

Cleric count: [(75,)]

In [8]:
curs.execute('SELECT count(*) FROM charactercreator_fighter')
print("Fighter count: " + str(curs.fetchall()))

Fighter count: [(68,)]

In [9]:
curs.execute('SELECT count(*) FROM charactercreator_mage')
print("Mage count: " + str(curs.fetchall()))

Mage count: [(108,)]

In [10]:
curs.execute('SELECT count(*) FROM charactercreator_necromancer')
print("Necromancer count: " + str(curs.fetchall()))

Necromancer count: [(11,)]

In [11]:
curs.execute('SELECT count(*) FROM charactercreator_thief')
print("Thief count: " + str(curs.fetchall()))

Thief count: [(51,)]

## How many total items

In [12]:
curs.execute('SELECT count(*) FROM armory_item')
print("Total Items: " + str(curs.fetchall()))

Total Items: [(174,)]

## Of the total items how many are weapons

In [22]:
# total number of items
curs.execute('SELECT count(*) FROM armory_item')
curs.fetchall()

[(174,)]

In [19]:
# total number of items that are weapons method 1
curs.execute('SELECT count(*) FROM armory_item, armory_weapon WHERE armory_item.item_id = armory_weapon.item_ptr_id')
print("Number of items that are weapons: " + str(curs.fetchall()))

Number of items that are weapons: [(37,)]

In [17]:
# total nmber of items that are weapons method 2
curs.execute('SELECT count(*) FROM armory_item JOIN armory_weapon ON armory_item.item_id = armory_weapon.item_ptr_id')
print("Number of items that are weapons: " + str(curs.fetchall()))

Number of items that are weapons: [(37,)]

## How many items does each character have

In [24]:
'''SELECT charactercreator_character.character_id, charactercreator_character.name,  count(armory_item.item_id)
FROM charactercreator_character, armory_item, charactercreator_character_inventory
WHERE charactercreator_character.character_id = charactercreator_character_inventory.character_id
AND armory_item.item_id = charactercreator_character_inventory.item_id
GROUP BY charactercreator_character.character_id
ORDER BY count(armory_item.item_id) DESC
LIMIT 20;
'''
curs.execute('SELECT charactercreator_character.character_id, charactercreator_character.name,  count(armory_item.item_id) FROM charactercreator_character, armory_item, charactercreator_character_inventory WHERE charactercreator_character.character_id = charactercreator_character_inventory.character_id AND armory_item.item_id = charactercreator_character_inventory.item_id GROUP BY charactercreator_character.character_id ORDER BY count(armory_item.item_id) DESC LIMIT 20;')
curs.fetchall()

[(302, 'Aliquam n', 5),
 (294, 'Duci', 5),
 (290, 'Provident sed soluta, sed si', 5),
 (289, 'Rem minima', 5),
 (287, 'Unde natus ut ipsa cupi', 5),
 (285, 'Molestiae quaerat maxim', 5),
 (281, 'Similique aperiam earum expli', 5),
 (280, 'Asperi', 5),
 (266, 'Mag', 5),
 (264, 'Verita', 5),
 (261, 'Iusto quas voluptatibu', 5),
 (259, 'Atque aspernatur possi', 5),
 (251, 'Non qui vo', 5),
 (247, 'Dolorem quaerat sunt', 5),
 (245, 'Provident nostrum minima', 5),
 (238, 'Aliqu', 5),
 (235, 'Nulla', 5),
 (233, 'Maiores quos incidunt dolor', 5),
 (206, 'Dolores aliquid inv', 5),
 (201, 'Officiis su', 5)]

## How many weapons does each character have?

In [25]:
query = '''
SELECT charactercreator_character.character_id, charactercreator_character.name,  count(armory_weapon.item_ptr_id)
FROM charactercreator_character, armory_weapon, charactercreator_character_inventory
WHERE charactercreator_character.character_id = charactercreator_character_inventory.character_id
AND armory_weapon.item_ptr_id = charactercreator_character_inventory.item_id
GROUP BY charactercreator_character.character_id
ORDER BY count(armory_weapon.item_ptr_id) DESC
LIMIT 20;
'''

In [27]:
curs.execute(query)
curs.fetchall()

[(227, 'Dignissimos a', 3),
 (199, 'Illo en', 3),
 (142, 'Explicabo recusandae ma', 3),
 (70, 'Perferendis commodi null', 3),
 (63, 'Reprehenderit commodi eius', 3),
 (36, 'Sint quibusdam ob', 3),
 (27, 'Ab voluptas se', 3),
 (294, 'Duci', 2),
 (280, 'Asperi', 2),
 (261, 'Iusto quas voluptatibu', 2),
 (256, 'Omni', 2),
 (250, 'Iste debitis dolorum amet m', 2),
 (247, 'Dolorem quaerat sunt', 2),
 (245, 'Provident nostrum minima', 2),
 (241, 'Reprehenderit li', 2),
 (238, 'Aliqu', 2),
 (206, 'Dolores aliquid inv', 2),
 (194, 'Acc', 2),
 (192, 'Reiciendis assumenda dolo', 2),
 (183, 'Architecto repudian', 2)]

## AVG Number of Items

In [31]:
((58 * 5) +(62 * 4) + (64 * 3) + (50* 2) + (68 * 1)) / 302

2.9735099337748343

In [28]:
58 + 62 + 64 +50

234

In [29]:
302-234

68

In [32]:
import pandas as pd

In [34]:
query = '''SELECT charactercreator_character.character_id, charactercreator_character.name,  count(armory_item.item_id)
FROM charactercreator_character, armory_item, charactercreator_character_inventory
WHERE charactercreator_character.character_id = charactercreator_character_inventory.character_id
AND armory_item.item_id = charactercreator_character_inventory.item_id
GROUP BY charactercreator_character.character_id
ORDER BY count(armory_item.item_id) DESC;
'''
curs.execute(query)
items_data = curs.fetchall()

In [35]:
df1 = pd.DataFrame(items_data)

In [38]:
df1.head()

     0                             1  2
0  302                     Aliquam n  5
1  294                          Duci  5
2  290  Provident sed soluta, sed si  5
3  289                    Rem minima  5
4  287       Unde natus ut ipsa cupi  5

In [41]:
import numpy as np
np.mean(df1[2])

2.9735099337748343

## AVG Number of weapons

In [42]:
query = '''
SELECT charactercreator_character.character_id, charactercreator_character.name,  count(armory_weapon.item_ptr_id)
FROM charactercreator_character, armory_weapon, charactercreator_character_inventory
WHERE charactercreator_character.character_id = charactercreator_character_inventory.character_id
AND armory_weapon.item_ptr_id = charactercreator_character_inventory.item_id
GROUP BY charactercreator_character.character_id
ORDER BY count(armory_weapon.item_ptr_id) DESC;
'''
curs.execute(query)
weapons_data = curs.fetchall()

In [44]:
df2 = pd.DataFrame(weapons_data)
np.mean(df2[2])

1.3096774193548386

# Assignment Part 2

In [45]:
df = pd.read_csv('buddymove_holidayiq.csv')
df.head()

  User Id  Sports  Religious  Nature  Theatre  Shopping  Picnic
0  User 1       2         77      79       69        68      95
1  User 2       2         62      76       76        69      68
2  User 3       2         50      97       87        50      75
3  User 4       2         68      77       95        76      61
4  User 5       2         98      54       59        95      86

In [46]:
df.isnull().sum()

User Id      0
Sports       0
Religious    0
Nature       0
Theatre      0
Shopping     0
Picnic       0
dtype: int64

In [47]:
df.shape

(249, 7)

In [58]:
conn = sqlite3.connect('buddymove_holidayiq.sqlite3')

In [ ]:
c = conn.cursor()

In [59]:
from sqlalchemy import create_engine
engine = create_engine('sqlite://', echo=False)

In [60]:
df.to_sql("Reviews", con = engine)

In [61]:
conn = sqlite3.connect('/Users/faraazqureshi/repos/DS-Unit-3-Sprint-2-SQL-and-Databases/module1-introduction-to-sql/buddymove_holidayiq.csv')

In [62]:
curs = connection.cursor()

In [63]:
type(curs)

sqlite3.Cursor

In [ ]:
query =

In [50]:
connection = conn = sqlite3.connect('/Users/faraazqureshi/repos/DS-Unit-3-Sprint-2-SQL-and-Databases/module1-introduction-to-sql/buddymove_holidayiq.sqlite3')